body{
        background-image: url(8K-Ultra-Hd-Wallpapers-Dark-88308.jpg ); 
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    h1{
    color: coral;
        font-family: "Itim", 'Segoe UI';
        font-weight: 400;
        font-style: normal;
        font-size: 100px;
        margin-left: 33%;
    }
    h2{
        font-family:cursive;
        color: white;
        font-size: 30px;
    }
    p{
    color: white;
    font-size: 25px;
    }
.btn {
    font-size: 2rem;
    font-weight: 1000;
    padding: 0.5em 1em;
    color: rgb(230, 0, 255) ;
    background-color: rgba(174, 1, 174, 0.383);
    border: 10px solid;
    border-color:rgb(230, 0, 255) ;
    margin-left: 27%;
    margin-top: 7%;
    width: 50%;
    height: 400px;
    border-radius: 100px;
    transition-property:transform,background-color,color;
    transition-duration: 0.4s;
    transition-timing-function:ease ;
    transition-delay: 0s ;
}
.btn:hover {
    transform: translatey(-25px);
    background-color: rgb(230, 0, 255);
    color: white;
}