.btn {
    font-size: 2rem;
    font-weight: 1000;
    padding: 0.5em 1em;
    color: rgb(230, 0, 255) ;
    background-color: rgba(174, 1, 174, 0.383);
    border: 10px solid;
    border-color:rgb(230, 0, 255) ;
    margin-left: 30%;
    margin-top: 7%;
    width: 40%;
    height: 30%;
    border-radius: 100px;
    transition-property:transform,background-color,color;
    transition-duration: 0.4s;
    transition-timing-function:ease ;
    transition-delay: 0s ;
}
.btn:hover {
    transform: translatey(-25px);
    background-color: rgb(230, 0, 255);
    color: white;
}

html{
    height: 100vh;
    overflow: hidden;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #222;
    perspective: 1px;
    transform-style: preserve-3d ;
    overflow-x: hidden ;
    overflow-y: scroll ;
}
.section1::before{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("Hobbys.png") top center;
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
}
.section3::before{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("Photo2.jpg") top center;
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
}
.section1, .section2, .section3{
    width: 100%;
    min-height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.section2{
    background: rgb(68, 35, 18);
}
.text{
    top: 30%;
    left: 50%;
    position: absolute;
    font-family: 'Franklin Gothic Medium';
    font-size: 15vw;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    5px 5px 70px rgba(255, 255, 255, 0.5);
    transform: scale(1,1.1) translate(-50%);
}